{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.3"}
        ring/ring-core {:mvn/version "1.12.1"}
        ring/ring-jetty-adapter {:mvn/version "1.12.1"}
        ring-logger-timbre/ring-logger-timbre {:mvn/version "0.7.6"}
        com.taoensso/timbre {:mvn/version "6.5.0"}
        metosin/reitit {:mvn/version "0.7.0"}
        metosin/muuntaja {:mvn/version "0.6.10"}
        com.github.guillerglez88/hl7v2 {:git/tag "0.0.1-SNAPSHOT", :git/sha "17efce5"}}
 :aliases
 {:dev {:extra-paths ["dev"]
        :extra-deps {nrepl/nrepl {:mvn/version "1.1.1"}
                     cider/cider-nrepl {:mvn/version "0.45.0"}
                     refactor-nrepl/refactor-nrepl {:mvn/version "3.10.0"}}
        :main-opts ["-m" "nrepl.cmdline" "--middleware" "[refactor-nrepl.middleware/wrap-refactor,cider.nrepl/cider-middleware]"]}
  :build {:deps {io.github.clojure/tools.build {:mvn/version "0.10.3"}}
          :ns-default build}}}
